<div class="bg-gray-100 footer">
  <div class="max-w-screen-lg px-4 sm:px-6  sm:grid md:grid-cols-4 sm:grid-cols-2 mx-auto">
      <div class="p-5">
          <h3 class="font-bold text-xl ">Safaa Mostafa Gouda</h3>
      </div>
      <div class="p-5">
          <div class="text-sm uppercase  font-bold">Resources</div>
          <a class="my-3 block" href="/#">Documentation <span class=" text-xs p-1"></span></a><a
              class="my-3 block" href="/#">Tutorials <span class=" text-xs p-1"></span></a><a
              class="my-3 block" href="/#">Support <span class=" text-xs p-1">New</span></a>
      </div>
      <div class="p-5">
          <div class="text-sm uppercase font-bold">Support</div>
          <a class="my-3 block" href="/#">Help Center <span class=" text-xs p-1"></span></a><a
              class="my-3 block" href="/#">Privacy Policy <span class=" text-xs p-1"></span></a><a
              class="my-3 block" href="/#">Conditions <span class=" text-xs p-1"></span></a>
      </div>
      <div class="p-5">
          <div class="text-sm uppercase  font-bold">Contact us</div>
          <a class="my-3 block" href="/#">XXX XXXX, Floor 4 San Francisco, CA
              <span class=" text-xs p-1"></span></a><a class="my-3 block" href="/#">safaaMostafaGoudaoutlook.com
              <span class=" text-xs p-1"></span></a>
      </div>
  </div>
</div>

